# Ignore Python build and cache artifacts
__pycache__/
*.py[cod]
*.pyc

# Ignore virtual environment directories
venv/
.env/

# Ignore the configuration file to avoid exposing sensitive data
config.py

.idea